* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-family: Nunito;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {height: 100%;}
#minus:hover, #plus:hover {cursor: pointer;}

body {
	background-position: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#counter-value {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Manual responsive*/
@media only screen and (orientation: portrait) {
	#counter-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 400px;
	}
}

@media only screen and (orientation: landscape) {
	#counter-box {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		min-width: 400px;
	}
}
